@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en);

.p-xs {
    padding: 10px !important
}

.m-t-xl {
    margin-top: 40px
}
.m-b-xs {
    margin-bottom: 5px
}


.h-modal-icon {
    font-size: 66px
}

.inmodal .color-line {
    border-radius: 4px 4px 0 0
}

.modal-content {
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2)
}


.modal-dialog {
    margin-top: 80px
}


body.blank {
    background-color: #edf0f5
}


.big-icon {
    font-size: 120px
}

.error-container h1 {
    font-size: 44px
}

.vertical-container {
    width: 98%;
    margin: 0 auto
}

.vertical-container::after {
    content: '';
    display: table;
    clear: both
}

.v-timeline {
    position: relative;
    padding: 0;
    margin-top: 2em;
    margin-bottom: 2em
}

.v-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #e3e8f0
}

.vertical-timeline-content .btn {
    float: right
}

.vertical-timeline-block {
    position: relative;
    margin: 2em 0
}

.vertical-timeline-block:after {
    content: "";
    display: table;
    clear: both
}

.vertical-timeline-block:first-child {
    margin-top: 0
}

.vertical-timeline-block:last-child {
    margin-bottom: 0
}

.vertical-timeline-icon {
    /*    position: absolute;*/
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 16px;
    border: 1px solid #e4e5e7;
    text-align: center;
    background: #fff
}

.vertical-timeline-icon i {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -7px;
    font-size: 12px;
}

.vertical-timeline-content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    border: 1px solid #e4e5e7
}

.vertical-timeline-content:after {
    content: "";
    display: table;
    clear: both
}

.vertical-timeline-content h2 {
    font-weight: 400;
    margin-top: 4px
}

.vertical-timeline-content p {
    margin: 1em 0 0 0;
    line-height: 1.6
}

.vertical-timeline-content .vertical-date {
    font-weight: 500;
    text-align: right;
    font-size: 13px
}

.vertical-date small {
    color: #62cb31;
    font-weight: 400
}

.vertical-timeline-content:after, .vertical-timeline-content:before {
    right: 100%;
    top: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.vertical-timeline-content:after {
    border-color: transparent;
    border-right-color: #fff;
    border-width: 10px;
    margin-top: -10px
}

.vertical-timeline-content:before {
    border-color: transparent;
    border-right-color: #e4e5e7;
    border-width: 11px;
    margin-top: -11px
}

@media only screen and (min-width: 768px) {
    .vertical-timeline-content h2 {
        font-size: 18px
    }

    .vertical-timeline-content p {
        font-size: 13px
    }
}

.contact-panel h3 {
    margin-bottom: 2px
}

.contact-panel h3 a {
    color: inherit
}

.contact-panel p {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 0
}

.contact-panel img {
    width: 76px;
    height: 76px
}

.contact-footer {
    padding: 0 15px
}

.contact-stat span {
    font-size: 10px;
    font-weight: 500;
    display: block;
    color: #9d9fa2;
    text-transform: uppercase
}

.contact-stat {
    padding: 8px 0px;
    text-align: center
}

.contact-panel:hover .panel-body {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: pulse;
    -webkit-animation-name: pulse;
    z-index: 1
}


.external-event {
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 5px
}


code{
    background-color: #ffffff;
}


.dropdown-menu.hdropdown {
    padding: 0;
    z-index: 1060
}

.dropdown-menu.hdropdown .title {
    padding: 12px 12px;
    text-align: center;
    border-bottom: 1px solid #e4e5e7
}

.dropdown-menu.hdropdown li {
    padding: 6px 12px;
    text-align: left;
    background: #f7f8fa;
    border-bottom: 1px solid #e4e5e7
}

.dropdown-menu.hdropdown.notification li {
    padding: 12px 12px
}

.dropdown-menu.hdropdown.notification li .label {
    margin-right: 10px
}

.dropdown-menu.hdropdown li > a:hover {
    background: inherit
}

.dropdown-menu.hdropdown li:hover {
    background: #edf0f5
}

.dropdown-menu.hdropdown li.summary {
    padding: 6px 12px;
    text-align: center;
    background: #fff
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav .open > a, .navbar-nav .open > a:hover, .navbar-nav .open > a:focus {
    color: inherit;
    background: #f4f5f9;
    border-bottom: 1px solid #e4e5e7
}



.btn {
    border-radius: 3px
}

.float-e-margins .btn {
    margin-bottom: 5px
}

.btn-default {
    background-color: #fff;
    border-color: #e4e5e7;
    color: #6a6c6f
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #fff;
    border-color: #d9dbdd;
    color: #606265
}

.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-image: none
}

.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default.active[disabled], fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
    background-color: #e4ebee;
    border-color: #e4ebee
}

.btn-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #FFFFFF
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    background-color: #ea6557;
    border-color: #ea6557;
    color: #FFFFFF
}

.btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    background-image: none
}

.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger.active[disabled], fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
    background-color: #e43321;
    border-color: #e43321
}

.btn-danger2 {
    background-color: #c0392b;
    border-color: #c0392b;
    color: #FFFFFF
}

.btn-danger2:hover, .btn-danger2:focus, .btn-danger2:active, .btn-danger2.active, .open .dropdown-toggle.btn-danger2 {
    background-color: #d24637;
    border-color: #d24637;
    color: #FFFFFF
}

.btn-danger2:active, .btn-danger2.active, .open .dropdown-toggle.btn-danger2 {
    background-image: none
}

.btn-danger2.disabled, .btn-danger2.disabled:hover, .btn-danger2.disabled:focus, .btn-danger2.disabled:active, .btn-danger2.disabled.active, .btn-danger2[disabled], .btn-danger2[disabled]:hover, .btn-danger2[disabled]:focus, .btn-danger2[disabled]:active, .btn-danger2.active[disabled], fieldset[disabled] .btn-danger2, fieldset[disabled] .btn-danger2:hover, fieldset[disabled] .btn-danger2:focus, fieldset[disabled] .btn-danger2:active, fieldset[disabled] .btn-danger2.active {
    background-color: #a73225;
    border-color: #a73225
}

.btn-xs {
    border-radius: 3px;
    font-size: 11px;
    line-height: 1.5;
    padding: 1px 7px
}


.font-light {
    font-weight: 300
}

.font-normal {
    font-weight: 400
}

.font-bold {
    font-weight: 600
}

.font-extra-bold {
    font-weight: 700
}

.font-uppercase {
    text-transform: uppercase
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 200
}


html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden !important
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    font-size: 13px;
    color: #6a6c6f;
    margin: 0;
    padding: 0;
    height: 100%
}

#header {
    background-color: #fff;
    display: block;
    height: 56px;
    margin: 0;
    padding: 0;
    position: relative;
    border-bottom: 1px solid #e4e5e7
}

#menu {
    width: 280px;
    bottom: 0;
    float: left;
    left: 0;
    position: absolute;
    top: 62px;
    transition: all 0.4s ease 0s
}

#wrapper {
    margin: 0 0 0 280px;
    padding: 0;
    background: #edf0f5;
    border-left: 1px solid #e4e5e7;
    transition: all 0.4s ease 0s;
    position: relative;
    min-height: 100%
}

.content {
    padding: 25px 40px 40px 40px;
    min-width: 320px
}

@media (max-width: 768px) {
    .content {
        padding: 15px 15px 15px 15px;
        min-width: 320px
    }
}

.content-boxed {
    max-width: 1100px;
    margin: auto;
    padding-top: 60px
}

#page-header {
    padding: 20px 40px
}

.color-line {
    background: #f7f9fa;
    height: 6px;
    background-image: -webkit-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: -moz-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: -ms-linear-gradient(left, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-image: linear-gradient(to right, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%);
    background-size: 100% 6px;
    background-position: 50% 100%;
    background-repeat: no-repeat
}

.fixed-navbar #header {
    width: 100%;
    position: fixed;
    z-index: 1000
}

.fixed-navbar #wrapper {
    top: 62px
}

.fixed-sidebar #menu {
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 197px;
    margin-right: -17px
}

.list .list-item-container {
    float: left
}

.list-item-container div:first-child {
    border-top: none
}

.list .list-item .list-item-content p {
    margin-bottom: 3px;
    margin-top: 0
}

.list .list-item-date {
    color: #AAAAAA;
    font-size: 10px;
    text-align: center
}

.list .list-item {
    float: left;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #e4e5e7
}

.list .list-item-container-small {
    min-width: 80px;
    text-align: center
}

.list .list-item .list-item-content .list-item-right {
    height: 100%;
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: 0
}

.list .list-item .list-item-content h1, .list .list-item .list-item-content h2, .list .list-item .list-item-content h3, .list .list-item .list-item-content h4, .list .list-item .list-item-content h5, .list .list-item .list-item-content h6, .list .list-item .list-item-content .list-item-title {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    margin: 0
}

.hpanel > .panel-heading {
    color: inherit;
    font-weight: 600;
    padding: 10px 4px;
    transition: all .3s;
    border: 1px solid transparent
}

.hpanel .hbuilt.panel-heading {
    border-bottom: none
}

.hpanel > .panel-footer {
    color: inherit;
    border: 1px solid #e4e5e7;
    border-top: none;
    font-size: 90%;
    background: #f7f9fa
}

.hpanel.panel-collapse > .panel-heading, .hpanel .hbuilt {
    background: #fff;
    border-color: #e4e5e7;
    border: 1px solid #e4e5e7;
    padding: 10px 10px;
    border-radius: 2px
}

.hpanel .panel-body {
    background: #fff;
    border: 1px solid #e4e5e7;
    border-radius: 2px;
    padding: 20px;
    position: relative
}

.panel-collapse .panel-body {
    border: none
}

.hpanel {
    background-color: none;
    border: none;
    box-shadow: none;
    margin-bottom: 25px
}

.panel-tools {
    display: inline-block;
    float: right;
    margin-top: 0;
    padding: 0;
    position: relative
}

.hpanel .alert {
    margin-bottom: 0;
    border-radius: 0;
    border: 1px solid #e4e5e7;
    border-bottom: none
}

.panel-tools a {
    margin-left: 5px;
    color: #9d9fa2;
    cursor: pointer
}

.hpanel.hgreen .panel-body {
    border-top: 2px solid #62cb31
}

.hpanel.hblue .panel-body {
    border-top: 2px solid #3498db
}

.panel-group .panel-heading {
    background-color: #f7f9fa
}


.panel-body h5, .panel-body h4 {
    font-weight: 600
}

.wrapper {
    padding: 10px 20px;

}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border:none;
    border-bottom-color: transparent;
    font-weight: bold
}

.todo-filter > li.active > a, .todo-filter > li.active > a:hover, .todo-filter > li.active > a:focus {
    border:none;
    border-bottom-color: transparent;
    font-weight: bold;
    border-bottom: 2px solid #555;
}

.nav-tabs {
    border-bottom:none;
}

.tab-pane .panel-body {
    border-top: none
}


.tab-content > .tab-pane, .pill-content > .pill-pane {
    display: none
}

.tab-content > .active, .pill-content > .active {
    display: block
}


.table > thead > tr > th {
    border-bottom: none
}

.opacity-0 {
    opacity: 0
}

.opacity-1 {
    opacity: 1
}


.hr-line-dashed {
    background-color: transparent;
    border-top: 1px dotted #edf0f5;
    color: transparent;
    height: 1px;
    margin: 20px 0
}


.text-primary {
    color: #34495e
}

.text-primary-2 {
    color: #9b59b6
}

.text-info {
    color: #3498db
}

.text-success {
    color: #62cb31
}

.text-warning {
    color: #ffb606
}

.text-danger {
    color: #e74c3c
}

.text-white {
    color: #fff
}

#logo {
    float: left;
    /* width: 180px;*/
    background-color: #fff;
    padding: 8px 10px 18px 18px;
    height: 56px;
    text-align: center
}

#logo span {
    font-weight: 600;
    color: #fff;
    font-size: 14px
}

#logo.light-version {
    background-color: #fff;
    border-bottom: 1px solid #e4e5e7;
    text-align: left
}

#logo.light-version span {
    font-weight: 600;
    color: #34495e;
    font-size: 14px
}

.profile-picture {
    padding: 20px 20px;
    text-align: center
}


.stats-label {
    line-height: 1.2
}

.stats-label small {
    font-size: 80%;
    line-height: 0.6
}


.label-menu-corner .label {
    font-size: 10px;
    line-height: 12px;
    padding: 2px 5px;
    position: absolute;
    right: 18px;
    top: 12px
}

#side-menu {
    background: #f7f9fa
}

#side-menu li a {
    color: #6a6c6f;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 20px
}

#side-menu li {
    border-bottom: 1px solid #e4e5e7
}

#side-menu li:first-child {
    border-top: 1px solid #e4e5e7;
}

#side-menu li.active a, #side-menu li:hover a {
    /* color: #34495e*/
    color:#F37422;
}

#side-menu li .nav-second-level li a {
    padding: 10px 10px 10px 30px;
    color: #6a6c6f;
    text-transform: none;
    font-weight: 600
}

#side-menu li .nav-second-level li.active a {
    color: #34495e
}

#side-menu.nav > li > a:hover, #side-menu.nav > li > a:focus {
    background: #fff
}

#side-menu li.active {
    background: #fff
}



.active > a > .fa.arrow:before {
    content: "\f107"
}

#top-navigation {
    height: 56px;
    position: relative;
    float: left
}

.navbar-static-top {
    margin: 0 0 0 180px
}

.navbar.navbar-static-top a, .nav.navbar-nav li a {
    color: #9d9fa2
}

.header-link {
    padding: 18px 26px 17px 26px;
    font-size: 14px;
    float: left;
    border-right: 1px solid #e4e5e7;
    border-left: 1px solid #e4e5e7;
    margin-right: 15px;
    background: #f7f9fa;
    cursor: pointer
}

.header-link:hover {
    background: #f1f4f6
}

.navbar-nav > li, .navbar-nav > li > a {
    height: 56px
}

.navbar-nav > li > a {
    padding: 15px 25px;
    font-size: 25px
}

.navbar-nav > li:last-child > a {
    padding-right: 35px
}

.navbar.navbar-static-top .hide-menu {
    color: #9d9fa2
}

.panel-title {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase
}


.h-200 {
    min-height: 200px
}




body.hide-sidebar #menu {
    margin-left: -180px
}

body.hide-sidebar #wrapper {
    margin-left: 0
}

body.page-small #menu {
    margin-left: -180px
}

body.page-small #wrapper {
    margin-left: 0
}

body.page-small.show-sidebar #menu {
    margin-left: 0
}

body.page-small.show-sidebar #wrapper {
    margin-left: 180px
}

a {
    cursor: pointer;
    color: #34495e
}

a:hover, a:focus {
    color: #34495e;
    text-decoration: none
}

.no-borders {
    border: none !important
}

.no-margins {
    margin: 0 !important
}

.form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-collapse, .navbar-form, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .open .btn.dropdown-toggle, .panel, .popover, .progress, .progress-bar {
    box-shadow: none
}

.vertical-mid {
    display: table
}

.vertical-mid * {
    display: table-cell;
    vertical-align: middle
}

.label-success {
    background-color: #62cb31
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #FFFFFF !important;
    border-color: #34495e;
    color: #6A6C6F !important;
    border-radius: 0px;
    z-index: 0;
}

.list-group-item {
    background-color: inherit;
    border: 0px solid #e4e5e7;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    position: relative
}

.no-padding .list-group-item {
    border-left: none;
    border-right: none;
    border-bottom: none
}

.no-padding .list-group-item:first-child {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none
}

.no-padding .list-group {
    margin-bottom: 0
}

.stats h4, h5, h6 {
    margin: 5px 0
}

.stats-title h4 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600
}


.flot-chart {
    display: block;
    height: 300px;
    position: relative
}

.flot-chart-content {
    width: 100%;
    height: 100%
}

.stats .flot-chart {
    height: 60px
}

.feed-activity-list .feed-element {
    border-bottom: 1px solid #E7EAEC
}

.feed-element:first-child {
    margin-top: 0
}

.feed-element {
    padding-bottom: 15px
}

.feed-element, .feed-element .media {
    margin-top: 15px
}

.feed-element, .media-body {
    overflow: hidden
}

.feed-element > .pull-left {
    margin-right: 10px
}

.feed-element img.img-circle, .dropdown-messages-box img.img-circle {
    width: 38px;
    height: 38px
}

.feed-element .well {
    border: 1px solid #E7EAEC;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 11px;
    line-height: 16px
}

.feed-element .actions {
    margin-top: 10px
}

.feed-element .photos {
    margin: 10px 0
}

.feed-photo {
    max-height: 180px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px
}

.feed-element img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%)
}

.small-logo {
    display: none;
    text-align: center;
    padding-top: 7px;
    font-size: 14px;
    font-weight: 800
}

.img-small {
    width: 62px;
    height: 62px
}

@media (max-width: 768px) {
    .navbar-form-custom, .navbar-right, #logo {
        display: none
    }

    .navbar-static-top {
        margin: 0
    }

    .small-logo {
        display: block;
        float: left
    }

    .header-line div {
        display: none
    }

    .color-demo .header-line {
        height: 48px
    }

    #hbreadcrumb {
        float: none !important;
        margin-bottom: 10px;
        margin-top: 0
    }
}

@media (max-width: 320px) {
    #wrapper {
        overflow: hidden
    }
}

.canvass {
    -moz-transition: width 0.01s, height 0.01s;
    -webkit-transition: width 0.01s, height 0.01s;
    -o-transition: width 0.01s, height 0.01s;
    transition: width 0.01s, height 0.01s
}

.project-list table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 10px 10px;
    vertical-align: middle
}


.fullpanel {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1070;
    overflow-x: scroll;
    transition: all 2s
}

.transition {
    transition: all 0.5s
}


.input-xs {
    height: 20px;
    padding: 2px 10px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 3px;
    font-weight: 500
}


.dropdown-menu {
    font-size: 13px;
    border-radius: 3px
}


.dropdown-example .dropdown-menu {
    position: static;
    display: block
}

.hbreadcrumb a.active {
    color: #9d9fa2
}

.form-control {
    border-color: #BDBEC0  !important;
    border-radius: 0px;
    margin: 5px;

}
.todo-form-control{ 
    border: none;
    border-bottom:1px solid  #E4E5E7 !important; 
    margin: 0px;
    background: none;

}

.input-group-addon {
    background: none;
    border:none
}

.checkbox input:hover, .radio input:hover {
    cursor: pointer
}

.ui-sortable .panel-body {
    cursor: move
}

.ui-sortable-placeholder {
    border: 1px dashed #cecece !important;
    visibility: visible !important;
    background: #f7f9fa
}

.ibox.ui-sortable-placeholder {
    margin: 0px 0px 23px !important
}


.badge.badge-info {
    background-color: #3498db
}

.tour-backdrop {
    opacity: 0.5
}


.table-mailbox .radio, .table-mailbox .checkbox {
    margin: 0
}

.table-mailbox .radio label, .table-mailbox .checkbox label {
    cursor: default
}

.table-mailbox tr.unread td a {
    font-weight: 600
}

.table-mailbox tr td span.label {
    margin-left: 10px
}

.table-mailbox tr:first-child td {
    border-top: none
}

.table-mailbox tr td:first-child {
    width: 33px;
    padding-right: 0
}


#playground{
    margin-top: 10px;
    /*        margin-left: 10%;
            margin-right: 10%;*/

}

.debug{
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}

.todo-filter {
    margin-bottom: 25px;
}

.todo-filter>li>a{
    padding: 8px 12px;
    font-size: 12px;
}

#todoAdd {
    margin-left:5px;
    margin-right:5px;
}

.todoField{
    padding: 5px;
    font-size: 15px;
}

#newTodoField{
    margin: 5px;
    width: 100%;
}

#todoSubmit{
    margin-top: -5px;
}

.todoTask{
    margin-bottom: 20px;
}

.todoName{
    font-size: 20px;
    border-bottom: 1px lightgray solid;
    padding-bottom:5px;
}

.edit-in-place span {
    cursor: pointer;
}

.edit-in-place input {
    display: none;
}

.edit-in-place.active span {
    display: none;
}

.edit-in-place.active input {
    display: inline-block;
}
.todo-edit a i{color:#E0E3E5}
.todo-edit a:hover i{color:#3f5872}
.todo-read{font-weight: bold !important}